<?xml version="1.0" encoding="utf-8"?><configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Advanced Combat Tracker" publicKeyToken="a946b61e93d97868" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.1.284" newVersion="3.8.1.284" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FFXIV_ACT_Plugin.Config" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.1.7" newVersion="2.7.1.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FFXIV_ACT_Plugin.Logfile" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.1.7" newVersion="2.7.1.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FFXIV_ACT_Plugin.Parse" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.1.7" newVersion="2.7.1.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FFXIV_ACT_Plugin.Resource" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.1.7" newVersion="2.7.1.7" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>